// animation
  // loader
  .loader
    border: .4rem solid #f3f3f3
    border-top: .4rem solid rgba(56, 118, 242, 0.2)
    border-radius: 50%
    width: 8rem
    height: 8rem
    animation: spin 2s linear infinite

  @keyframes spin
    0%
      transform: rotate(0deg)
    50%
      transform: rotate(360deg)
    100%
      transform: rotate(720deg)